# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config files
*.ini
*.toml

# Logs and databases
*.log
*.sqlite3

# Environment variables file
.env

# Cython
*.c
*.so
*.pyd

# macOS specific
.DS_Store
